<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.windows10.checksystem">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- &lt;!&ndash; 这个权限用于允许程序在手机屏幕关闭后后台进程仍然运行 &ndash;&gt; -->
    <!-- <user-permission android:name="android.permission.WAKE_LOCK" /> -->
    <application
        android:name=".application.SystemApplication"
        android:allowBackup="true"
        android:icon="@drawable/home_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="59a9731b47be2fd46c1d13366cc88f22" />

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.BaseActivity" />
        <activity android:name=".activity.RegistActivity" />
        <activity android:name=".activity.ForgetPasswordActivity" />
        <activity android:name=".activity.FullUserInfoActivity" />
        <activity android:name=".activity.CheckingActivity"></activity>
        <activity android:name=".activity.IPRegistActivity" />
        <activity android:name=".activity.EasyDestroyListActivity" />
        <activity android:name=".activity.FactoryDetailsActivity" />
        <activity android:name=".activity.LingjianDetailsActivity" />
        <activity
            android:name=".activity.VideoPlayerActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity android:name=".activity.LingjianIntroduceActivity" />
        <activity android:name=".activity.CarsKnowledgeActivity"></activity>
        <activity android:name=".activity.GuideActivity" />
        <activity android:name=".activity.GuZhangDetailsActivity" />

        <service android:name="com.amap.api.location.APSService" />

        <activity android:name=".activity.MapviewActivity" />
        <activity android:name=".activity.DetailsCheckActivity" />
        <activity android:name=".activity.MusicePlayActivity" />
        <activity android:name=".activity.KnowledgeDetailsActivity"></activity>
    </application>

</manifest>